@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,600,700,800|Poppins:400,500,600,700|Yellowtail&display=swap);

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .colour #width {
        width: 50%;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .colour #width {
        width: 85%;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .colour #width {
        width: 5%;
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .colour #width {
        width: 10%;
    }
}

@media only screen and (max-width:767px) {
    .colour #width {
        width: 7%;
    }
}

.sizeing {
    position: relative;
    top: 9px;
}

#orange {
    background-color: #f8870fe0;

}

.responsive-layout .bg-dark {
    background-color: #f8870fe0 !important;

}

.colour a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;

}

@media (min-width:1500px) and (max-width:3000px) {
    #moving_top1 {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1440px) and (max-width:1499px) {
    #moving_top1 {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1500px) and (max-width:3000px) {
    #moving_topn {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1440px) and (max-width:1499px) {
    #moving_topn {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    #moving_topn {
        position: relative;
        top: 12px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    .moving_tp {
        position: relative;
        top: 8px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    #flag {
        position: relative;
        top: 15px;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    #mobileno {
        position: relative;
        top: 13px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    #flag {
        position: relative;
        left: 13px;
    }
}

@media only screen and (max-width:475px) {
    #flag {
        position: relative;
        left: 3px;
    }
}


#sizing1 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 20px;
}

@media only screen and (max-width:475px) {
    #sizing1 {
        width: 50%;
        position: relative;
        left: 80px;
    }
}

/* button */
body .tab-content {
    color: #495047;
}

.buttoon {
    background-color: #f8880f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 23px 40px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;

}

.buttoon:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.buttoon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffce25;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0)
}

.buttoon1 {
    background-color: #f8880f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

.buttoon1:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.buttoon1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffce25;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0)
}

.password {
    margin-top: 15px;
}

.buttoon2 {
    background-color: #fff;
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 350;
    letter-spacing: 0px;
    line-height: 0;
    margin-bottom: 0;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    border: thin solid #f8880f;

}

.modal-footer .align-items-center .center {
    margin-right: 182px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-weight: bold;
    color: inherit;
    font-family: inherit;

}

.color a {
    color: #495047;
    background-color: lightgray;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-weight: lighter bold;
    font-family: inherit;
}

.color .nav-tabs .nav-link.active {
    color: #f8880f;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-weight: lighter bold;
    font-family: inherit;
}

.color a:hover {
    color: #495047;
}

.color .nav-tabs .nav-link {
    margin-bottom: -1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    width: 50%;
}

@media (min-width:1500px) and (max-width:3000px) {
    .header-btm .buttoon {
        position: relative;
        padding: 23px;
        top: 30px;

    }
}

@media (min-width:1440px) and (max-width:1499px) {
    .header-btm .buttoon {
        position: relative;
        padding: 23px;
        top: 16px;

    }
}

@media (min-width:1024px) and (max-width:1399px) {
    .header-btm .buttoon {
        position: relative;
        padding: 23px;
        top: 27px;
        font-size: 15px;

    }
}

@media (min-width:768px) and (max-width:1023px) {
    .header-btm .buttoon {
        position: relative;
        padding: 23px 40px;
        top: 26px;
        font-size: 16px;
        white-space: nowrap;
    }
}

@media only screen and (max-width:475px) {
    .header-btm .buttoon {
        position: relative;
        padding: 23px 40px;
        font-size: 16px;
        top: 47px;
        left: 94px;
        white-space: nowrap;
    }
}

/* button end */

/* 2nd header */
.header-btm .mydiv {
    position: relative;
    font-family: serif;
}

.header-btm .mydiv:hover {
    color: #f8870fe0;
}

@media only screen and (max-width:475px) {
    .header-btm .mydiv {
        position: relative;
        top: 47px;
        left: 94px;
    }
}

/* Category area css */
.category-area {
    padding-left: 45px;
    padding-right: 45px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .category-area {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width:767px) {
    .category-area {
        padding-left: 0;
        padding-right: 0
    }
}

.section-padding30 {
    padding-top: 90px;
    padding-bottom: 90px
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .section-padding30 {
        padding-top: 90px;
        padding-bottom: 90px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .section-padding30 {
        padding-top: 150px;
        padding-bottom: 120px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .section-padding30 {
        padding-top: 90px;
        padding-bottom: 70px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .section-padding30 {
        padding-top: 60px;
        padding-bottom: 28px
    }
}

@media (max-width:767px) {
    .section-padding30 {
        padding-top: 60px;
        padding-bottom: 28px
    }
}


.category-area .category-img {
    position: relative
}

.category-area .category-img img {
    width: 100%;
    border-radius: 6px
}

.category-area .category-img .category-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 52px
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .category-area .category-img .category-caption {
        right: 13px
    }
}

@media (max-width:767px) {
    .category-area .category-img .category-caption {
        right: 13px
    }
}

.category-area .category-img .category-caption h2 {
    color: #1f1f1f;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 13px
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .category-area .category-img .category-caption h2 {
        font-size: 26px
    }
}

@media (max-width:767px) {
    .category-area .category-img .category-caption h2 {
        font-size: 22px;
        margin-bottom: 0
    }
}

.category-area .category-img .category-caption .best a {
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: capitalize;
    background: #ffce25;
    padding: 13px 24px;
    border-radius: 30px;
    display: inline-block
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .category-area .category-img .category-caption .best a {
        padding: 13px 15px
    }
}

@media (max-width:767px) {
    .category-area .category-img .category-caption .best a {
        padding: 13px 15px;
        font-size: 12px
    }
}

/* Dk collection */

.category-area .category-img .category-caption .collection {
    display: block;
    color: #0071fe;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1.1;
    text-transform: capitalize;
    font-family: Yellowtail, cursive;
    font-weight: 600;
    text-shadow: 0 -3px 0 #fff;
    margin-top: -8px
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .category-area .category-img .category-caption .collection {
        font-size: 23px
    }
}

@media (max-width:767px) {
    .category-area .category-img .category-caption .collection {
        font-size: 20px
    }
}

.category-area .category-img .category-caption p {
    color: #000
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    color: #0b1c39;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

.title {
    margin-bottom: 60px
}


/* latest products area */
@media (max-width:767px) {
    .latest-product-area .propertiesbutton {
        float: left
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .latest-product-area .propertiesbutton {
        float: left
    }
}

.latest-product-area .nav-tabs .nav-link {
    border: 0;
    border-bottom: 2px solid transparent
}

@media (max-width:767px) {
    .latest-product-area .nav-tabs .nav-link {
        padding: .5rem .6rem
    }
}

.latest-product-area .nav-tabs .nav-item.show .nav-link,
.latest-product-area .nav-tabs .nav-link.active {
    color: #ff003c
}

.latest-product-area .nav-tabs .nav-item {
    padding-bottom: 10px;
    display: block;
    color: #8f8f96;
    text-transform: capitalize;
    font-size: 16px
}

.latest-product-area .nav-tabs {
    margin-bottom: 15px;
    padding-bottom: 0;
    position: relative;
    border: 0;
    display: flex;
    justify-content: center
}

.latest-product-area .single-product {
    margin-bottom: 60px;
}

.latest-product-area .single-product .product-img {
    margin-bottom: 30px;
    position: relative
}

.latest-product-area .single-product .product-img img {
    width: 100%
}

.latest-product-area .single-product .product-img .new-product {
    position: absolute;
    top: 25px;
    left: 23px
}

.latest-product-area .single-product .product-img .new-product span {
    background: #ff003c;
    padding: 3px 16px;
    border-radius: 30px;
    color: #fff
}

.latest-product-area .single-product h4 a {
    margin-bottom: 16px;
    font-size: 16px;
    color: #383838
}

.latest-product-area .single-product h4 a:hover {
    color: #ff003c
}

.latest-product-area .single-product .product-caption .product-rating i {
    color: #ffbc07;
    margin-bottom: 14px
}

.latest-product-area .single-product .product-caption .product-rating i.low-star {
    color: #d3d3d3;
}

.latest-product-area .single-product .product-caption .price ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    right: 40px;
}

.latest-product-area .single-product .product-caption .price ul li.discount {
    color: #ff003c;
    text-decoration: line-through
}

.shop-method-area .single-method h6 {
    color: #282828;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 12px;
    font-family: Poppins, sans-serif
}

.shop-method-area .single-method p {
    font-size: 16px
}

/* footer area */

.footer-copy-right {
    padding-top: 50px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-copy-right {
        padding-top: 0;
        float: left
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-copy-right {
        padding-top: 0;
        float: left
    }
}

@media (max-width:767px) {
    .footer-copy-right {
        padding-top: 0;
        float: left
    }
}

.footer-copy-right p {
    color: #888;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px
}

.footer-copy-right p i {
    color: #2577fd
}

.footer-copy-right p a {
    color: #2577fd
}

.footer-social a i {
    color: #222;
    margin-right: 12px;
    font-size: 14px
}

.footer-social a i:hover {
    color: #2577fd
}


/* Icon 1 */

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


#flag {
    position: relative;
    height: 50px;
    width: 50px;
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    #flag {
        position: relative;
        top: -1px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    #flag {
        position: relative;
        top: 3px;
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    #select1 {
        position: relative;
        top: 18px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    #select1 {
        position: relative;
        top: 12px;
    }
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    #contact {
        position: relative;
        top: 12px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    #contact {
        position: relative;
        top: 8px;
    }
}

/* Jumbotron Image area */

#design span {
    font-family: Yellowtail, cursive;
    color: #2577fd;
    font-size: 40px;
    display: inline-block
}

#design h1 {
    color: #1f2022;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 13px
}

.buttoon3 {
    background-color: #f8880f;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 23px 40px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;

}

.buttoon3:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

.buttoon3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffce25;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0)
}


#design p {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 39px;
    color: #313639;
    margin-bottom: 50px;
    text-transform: capitalize
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    #design {
        position: relative;
        top: -500px;
        right: -270px;
    }

}

@media only screen and (min-width:992px) and (max-width:1200px) {
    #design {
        position: relative;
        top: -350px;
        right: -270px;
    }

    #design h1 {
        color: #1f2022;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: capitalize;
        margin-bottom: 13px
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    #design {
        position: relative;
        top: -310px;
        right: -270px;
    }

    #design h1 {
        color: #1f2022;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: capitalize;
        margin-bottom: 13px
    }
}

/* /*@media only screen and (min-width:577px) and (max-width:768px) { */
@media only screen and (min-width:425px) and (max-width:576px) {
    #design {
        position: relative;
        top: -190px;
        right: -270px;
    }

    #design h1 {
        color: #1f2022;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: capitalize;
        margin-bottom: 13px
    }

    .buttoon3 {
        font-size: 10px;
        padding: 12px 14px;
        position: relative;
        top: -35px;
    }

    #design span {
        font-family: Yellowtail, cursive;
        color: #1f2022;
        font-size: 25px;
        display: inline-block;
    }

    #design p {
        position: relative;
        font-size: 15px;
    }
}

@media only screen and (min-width:375px) and (max-width:425px) {
    #design {
        position: relative;
        top: -165px;
        right: -270px;
    }

    #design h1 {
        color: #1f2022;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: capitalize;
        margin-bottom: 13px
    }

    .buttoon3 {
        font-size: 10px;
        padding: 12px 14px;
        position: relative;
        top: -35px;
    }

    #design span {
        font-family: Yellowtail, cursive;
        color: #1f2022;
        font-size: 25px;
        display: inline-block;
    }

    #design p {
        position: relative;
        font-size: 15px;
    }
}

@media only screen and (min-width:300px) and (max-width:375px) {
    #design {
        position: relative;
        top: -140px;
        right: -270px;
    }

    #design h1 {
        color: #1f2022;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        text-transform: capitalize;
        margin-bottom: 13px
    }

    .buttoon3 {
        font-size: 8px;
        padding: 10px 12px;
        position: relative;
        top: -47px;
    }

    #design span {
        font-family: Yellowtail, cursive;
        color: #1f2022;
        font-size: 25px;
        display: inline-block;
    }

    #design p {
        position: relative;
        font-size: 15px;
    }
}


.font {
    color: #1f1f1f;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    cursor: pointer;
}

.font div:hover {
    color: #ff003c;
}


@media only screen and (min-width:577px) and (max-width:768px) {
    .content {
        display: none;
    }
}

@media only screen and (min-width:425px) and (max-width:576px) {
    .content {
        display: none;
    }
}

@media only screen and (min-width:375px) and (max-width:425px) {
    .content {
        display: none;
    }
}

@media only screen and (min-width:300px) and (max-width:375px) {
    .content {
        display: none;
    }
}
/* javascript */

.show{
    visibility: visible;
 }
 .hide{
    visibility: hidden;
 }

#scrollUp{
    font-size: 50px;
    color: yellowgreen;
    position: sticky;
    left: 1200px;
    bottom:50px;
    cursor: pointer;
}
.sticky {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #fff;
    width: 100%;
  }